{{header|safe}}
{{toolbar|safe}}
<div class="container" style="padding-right:350px">


    <div class="page-header">
                <h3>Featured Sellers<br><br>
                <small style="font-size:20px">
                <div style="padding-left:30px;">
                <table>
                <td>
                <a href="/home?query=chi.chaaang">Joyce Chang</a><br><br>
                <a href="/home?query=cantsitwithus">Simon Chan</a><br><br>
                <a href="/home?query=katherine.wei123">Katherine Wei</a><br><br>
                <a href="/home?query=kevinchan8">Kevin Chen</a><br><br>
                <a href="/home?query=KevWuu">Kevin Wu</a><br><br>
                <a href="/home?query=diewlaylomo">Anthony Ho</a><br><br>
                </td>
                <td style="padding-left:30px">
                <a href="/home?query=ZainSheraz">Zain Sheraz</a><br><br>
                <a href="/home?query=bboi1c3">Alex Chiew</a><br><br>
                <a href="/home?query=jacqueline.sun.777">Jacqueline Sun</a><br><br>
                <a href="/home?query=lklelnlnleltlhl">Kenneth Wong</a><br><br>
                <a href="/home?query=fruitloopsarelikegaycherrios">Sue Liang</a><br><br>
                <a href="/home?query=bianca.gao.7">Bianca Gao</a><br><br>
                </td>
                </table>
                </div>
                </small></h3>

    </div>

<div class="page-header">
                <h3>About the Designer<p><small>I'm an independent programmer for hire based out of Manhattan. I have skill in databases,
                    backend programming, and web development. Feel free to shoot me an email with your programming needs.
                    <div align="right"><em><p>-MG &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p>Trance.Overflow@Gmail.com</p></em></div>
                </small></p></h3>

</div>

</div>
{{footer|safe}}