{{header|safe}}
{{toolbar|safe}}
<br/><br/>

<div class="panel-group container" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          What is this, exactly?
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" style="font-size:18px">
          This website is a tool for making the purchase of EDM tickets in NYC safer. It allows members to rate each other
          on integrity, timeliness, and reliability when it comes to selling tickets. Use this site as a tool to background check
          your sellers for peace of mind. We encourage you to submit good reviews for the honest sellers.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          How do I search sellers?
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" style="font-size:18px">
          Navigate to the seller's Facebook page and copy the link. Then paste the link in the search bar on the
          home page and hit enter. It's that simple. You can also search by the seller's Facebook username and ID.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          What is a username? What about a user ID?
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" style="font-size:18px">
          It's the portion of the URL right after ".com/" but before the first question mark. Picture below.
            <img src="/stylesheets/username.png"><br>
          The user ID is a unique number associated with every facebook profile. When you search someone using this app,
          their user ID will be displayed alongside their name. You can use both the user ID and username
          to look up a seller instead of copying the link to the seller's Facebook page.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          What if the seller decides to change his or her name?
        </a>
      </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body" style="font-size:18px">
          Scammers can run but they can't hide. We track sellers with a unique Facebook ID that is permanently linked to
          each profile. Even changing the username won't help.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Who can write reviews?
        </a>
      </h3>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body" style="font-size:18px">
          Anyone can write reviews. However, you can review another member only once (your most recent review counts) and
          of course, you cannot review yourself. Our servers have a backend security program that flags spam and blocks
          spammers. So don't even think about it ;)
      </div>
    </div>
  </div>
</div>
{{footer|safe}}
