

            <label><b>Timeliness</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="timeliness">
                <input type="radio" value="1" name="timeliness">
                <input type="radio" value="2" name="timeliness">
                <input type="radio" value="3" name="timeliness">
                <input type="radio" value="4" name="timeliness">
                <label>Good</label>
            </div>
            <hr>



            <label><b>Reliability</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="reliability">
                <input type="radio" value="1" name="reliability">
                <input type="radio" value="2" name="reliability">
                <input type="radio" value="3" name="reliability">
                <input type="radio" value="4" name="reliability">
                <label>Good</label>
            </div>
            <hr>



            <label><b>Honesty</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="honesty">
                <input type="radio" value="1" name="honesty">
                <input type="radio" value="2" name="honesty">
                <input type="radio" value="3" name="honesty">
                <input type="radio" value="4" name="honesty">
                <label>Good</label>
            </div>
            <hr>


            <label>
                <div>Comments</div>
                <textarea rows = "4" name="comment"></textarea>
            </label>

