
        <form method="post" action = "../response_page">

            <label><b>Timeliness</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="timeliness"{%if time=="0":%}checked{%endif%}>
                <input type="radio" value="1" name="timeliness"{%if time=="1":%}checked{%endif%}>
                <input type="radio" value="2" name="timeliness"{%if time=="2":%}checked{%endif%}>
                <input type="radio" value="3" name="timeliness"{%if time=="3":%}checked{%endif%}>
                <input type="radio" value="4" name="timeliness"{%if time=="4":%}checked{%endif%}>
                <label>Good</label>
            </div>
            <hr>



            <label><b>Reliability</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="reliability"{%if reliability=="0":%}checked{%endif%}>
                <input type="radio" value="1" name="reliability"{%if reliability=="1":%}checked{%endif%}>
                <input type="radio" value="2" name="reliability"{%if reliability=="2":%}checked{%endif%}>
                <input type="radio" value="3" name="reliability"{%if reliability=="3":%}checked{%endif%}>
                <input type="radio" value="4" name="reliability"{%if reliability=="4":%}checked{%endif%}>
                <label>Good</label>
            </div>
            <hr>



            <label><b>Honesty</b></label>
            <div>
                <label>Bad</label>
                <input type="radio" value="0" name="honesty"{%if honesty=="0":%}checked{%endif%}>
                <input type="radio" value="1" name="honesty"{%if honesty=="1":%}checked{%endif%}>
                <input type="radio" value="2" name="honesty"{%if honesty=="2":%}checked{%endif%}>
                <input type="radio" value="3" name="honesty"{%if honesty=="3":%}checked{%endif%}>
                <input type="radio" value="4" name="honesty"{%if honesty=="4":%}checked{%endif%}>
                <label>Good</label>
            </div>
            <hr>


            <label>
                <div>Comments</div>
                <textarea rows = "4" name="comment" value = {{com}}>{{com}}</textarea>
            </label>

            <br>
            <input type="submit" value="Submit Review">
        </form>